.fade-in-left {
  animation: fade-in-left 0.3s ease-in-out;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
