button {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-effect 0.35s linear;
  pointer-events: none;
}

.ripple.light {
  background: rgba(255, 255, 255, 0.3);
}

.ripple.dark {
  background: rgba(0, 0, 0, 0.3);
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
